* {
    font-family: 'Roboto', sans-serif;
}

.recentlypl {
    margin-bottom: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.player-container {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: remy(320px);
    background: #EAF0EE;
}

.body-cover {
    position: relative;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body-buttons,
.body-info,
.player__footer {
    padding-right: 2rem;
    padding-left: 2rem;
}

.list-header .list-link,
.list-footer .list-link {
    color: #888;
}

.body-buttons {
    padding-bottom: 2rem;
}

.body-buttons {
    padding-top: 1rem;
}

.list-buttons {
    align-items: center;
    justify-content: center;
}

.list-buttons li:nth-of-type(n+2) {
    margin-left: 1.25rem;
}

.list-buttons a {
    padding-top: .45rem;
    padding-right: .75rem;
    padding-bottom: .45rem;
    padding-left: .75rem;
    font-size: 1rem;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(33, 33, 33, .1), 0 3px 12px rgba(33, 33, 33, .15);

    &:focus,
    &:hover {
        color: darken(rgba($color-red, .95), 8%);
        opacity: 1;
        box-shadow: 0 6px 9px rgba(33, 33, 33, .1), 0 6px 16px rgba(33, 33, 33, .15);
    }
}

.list-buttons li:nth-of-type(2) a {
    padding-top: .82rem;
    padding-right: 1rem;
    padding-bottom: .82rem;
    padding-left: 1.19rem;
    margin-left: .5rem;
    font-size: 1.25rem;
}

.list-buttons li:first-of-type a,
.list-buttons li:last-of-type a {
    font-size: .95rem;
    color: #212121;
}

.left-playbar {
    height: 130px;
    background-color: #EAF0EE;
    margin-left: -15px!important;
    margin-right: -15px!important;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.playerbar {
    height: 130px;
    margin-left: -25px;
    background-color: #ffffff;
}

.contain {
    align-items: center;
    justify-content: center;
}

.player-h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.player-h2 {
    font-family: "Poppins", sans-serif;
    font-size: .95em;
    font-weight: 200;
}

.album {
    background-size: contain;
    background-color: #ff5d48;
    height: 100px;
    width: 100px;
    float: left;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 15px;
}

.mejs-player {
    float: left;
    padding-top: 45px;
    padding-left: 25px;
    width: 785px;
    white-space: nowrap;
}

.range {
    position: relative;
    top: -1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    background: #ECECEC;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.range:before,
.range:after {
    content: "";
    position: absolute;
    cursor: pointer;
}

.range:before {
    width: 3rem;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#307BFF), to(#307BFF));
    background: linear-gradient(to right, #307BFF, #307BFF);
    border-radius: 0.25rem;
    overflow: hidden;
}

.range:after {
    top: -0.25rem;
    left: 3rem;
    z-index: 3;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.72), 0 2px 4px rgba(0, 0, 0, 0.72);
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.range:focus:after,
.range:hover:after {
    background: rgba(211, 3, 32, 0.95);
}